<?xml version="1.0" encoding="UTF-8"?>
<web-app>


<servlet>
<servlet-name>ServletBD</servlet-name>
<servlet-class>MesServlets.AffichePersonne</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletBD</servlet-name>
<url-pattern>/essaiBD</url-pattern>
</servlet-mapping>


</web-app>






















